
<div class="col col-lg-2 border border-1 rounded rounded-2 text-center m-1 p-2" @onclick="@(() => OnClick.InvokeAsync(Product))">
    <img src="@Product.Images.First()" width="200px" height=" 300px" />
    <p>@Product.Title</p>
    <p>€ @Product.Price </p>
    <div>
        
   
        <button class="btn btn-outline-info" @onclick="@(() => OnEdit.InvokeAsync(Product))">Edit</button>
         <button class="btn btn-outline-danger" @onclick="@(() => OnDelete.InvokeAsync(Product.Id))">Delete</button>
         <h6>Press on me for more info </h6>
    </div>
</div>

@code {
    [Parameter]
    public ProductModel Product { get; set; }
    [Parameter]
    public EventCallback<int> OnDelete { get; set; }
    [Parameter]
    public EventCallback<ProductModel> OnEdit { get; set; }
    [Parameter]
    public EventCallback<ProductModel> OnClick { get; set; }

}
